@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

.App{
    height: 100vh;
    overflow: auto;
    text-align: center;
    background-image: url(./assets/Background.png);
    background-size: cover;
    font-family: 'Nunito', serif;
}